# Comments start with a '#' and continue to the end of the line
# Blank lines are ignored
#
# test-plugin.so arg1 arg2 arg3
#
# Example:
#inktomi/iwx/iwx.so
#inktomi/abuse/abuse.so etc/trafficserver/abuse.config
#inktomi/icx/icx.so etc/trafficserver/icx.config
#/opt/ats/libexec/trafficserver/trplugin.so -d -c /opt/fd/conf/fdjdc.conf

/opt/tr/lib/trplugin.so -d -c /opt/tr/conf/fd1.conf -a /opt/tr/conf/tr.conf
